@model IsThereAList.Models.InternalRegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary()
    
    <div class="form-group">
        @Html.LabelFor(m => m.EditableObject.EmailAddress, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.EditableObject.EmailAddress, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.EditableObject.EmailAddress)
        </div>
    </div>
    
    @*@<div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        </div>
    </div>*@
    <div class="form-group">
        @Html.LabelFor(m => m.EditableObject.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.EditableObject.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.EditableObject.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.EditableObject.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.EditableObject.FirstName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.EditableObject.FirstName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.EditableObject.FirstName)
        </div>
    </div>
                    
    <div class="form-group">
        @Html.LabelFor(m => m.EditableObject.LastName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.EditableObject.LastName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.EditableObject.LastName)
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.EditableObject.SendEmails, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.CheckBoxFor(m => m.EditableObject.SendEmails, new {  @class = "form-control"})
            @Html.ValidationMessageFor(m => m.EditableObject.SendEmails)
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.EditableObject.DobDay, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.EditableObject.DobDay, new SelectList(Model.Days), new { @class = "form-control" });
            @Html.ValidationMessageFor(m => m.EditableObject.DobDay)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.EditableObject.DobMonth, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.EditableObject.DobMonth, new SelectList(Model.Months, "Number", "Name"), new { @class = "form-control" });
            @Html.ValidationMessageFor(m => m.EditableObject.DobMonth)
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
