@model IEnumerable<IsThereAList.Models.List>
@using IsThereAList.Extensions

@{
    ViewBag.Title = "My Lists";
}

<br />
<h2>@ViewBag.Title</h2>
<hr />

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("Change List Type", "edit", new { id = item.ListId }) |
                @Html.ActionLink("Details", "details", new { id = item.ListId }) |
                @Html.ActionLink("Delete", "delete", new { id = item.ListId })
            </td>
            <td>
                @Html.RouteLink(item.Name, "ListListItem", new { listId = item.ListId })
            </td>
        </tr>
    }

</table>
